/* .xfce4-panel label { */
/*   color: #fff */
/* } */

#i3-workspaces-11 label {
  color: #bdae93;
}

#i3-workspaces-11 .flat.focused.text-button.visible.workspace label {
  color: #1d2021;
  background-color: #bdae93;
  font-weight: normal;
}

#i3-workspaces-11 .flat.focused.text-button.visible.workspace label:hover {
  background-color: green;
}

/*
* button id = xfce-panel-button
* normal workspace button = flat text-button workspace
* focused workspace button = flat focused text-button visible workspace 
*/

#clock-button label {
  color: #bdae93;
  font-size: 24px;
}

